body {
    background-image: url("ramox2.jpg");


}
.navigation {
    display: flex;
    justify-content: space-between;
    background-color: darkred;
    overflow: hidden;
    box-shadow:  4px 7px 9px black;
}
.navigation a {
    float: left;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
}
.navigation a:hover {
    background-color: black;
}
.navigation a:active {
    background-color: black;
}

.login div {
    display: inline-block;
    background-color: white;
    font-family: fantasy;

}
form {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    min-height: 100%;
    margin: auto;
    margin-top: 15rem;
    background-color: white;
    box-shadow: 4px 7px 9px black;
    height: 148px;
    width: 248px;
    background-image: url("ramox.png");

}











.switch {
    position: relative;
    display: inline-block;
    width: 60px;
    height: 34px;
}


.switch input {
    opacity: 0;
    width: 0;
    height: 0;
}


.slider {
    position: absolute;
    cursor: pointer;
    top: 1px;
    left: 1px;
    right: 1px;
    bottom: 1px;
    background-color: gray;

}

.slider:before {
    position: absolute;
    content: "";
    height: 24px;
    width: 24px;
    left: 4px;
    bottom: 4px;
    background-color: white;
    transition: 0.5s;

}

input:checked + .slider {
    background-color: red;
}

input:focus + .slider {
    box-shadow: 0 0 1px black;
}

input:checked + .slider:before {
    -webkit-transform: translateX(26px);
    -ms-transform: translateX(26px);
    transform: translateX(26px);
}


.slider.round {
    border-radius: 34px;
}

.slider.round:before {
    border-radius: 50%;
}
button {
 border-radius: 35px;
 }
