body{
 background-image: url("EditedBack.jpg");
 text-align: center;
background-repeat: no-repeat;

 }
.navigation {
    font-family: Consolas;
    display: block;
    min-height: 97vh;
    background-color: black;
    color: aliceblue;
    width: 197px;
    position: absolute;

}
.navigation a {
    float: left;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;}

.navigation a:hover {
    background-color: palevioletred;
}

.text {
    font-family: Arial;
    padding: 1rem;
    color: white;
}
.text2 {
    font-family: Arial;
    padding: 1rem;
    margin: 2rem;
    color: white;
}

a{
    color: dodgerblue;
}